---
import BlogPost from "@/components/blog/BlogPost.astro";
import Layout from "@/Layout.astro";
import { getPosts } from "@/utils/server";

export const prerender = true;

const posts = await getPosts();
const featured = posts.shift()!;
---

<Layout>
    <div class="mt-4">
        <BlogPost post={featured} featured />
    </div>
    <div class="gap-x-8 gap-y-4 grid lg:grid-cols-2 my-8">
        {posts.map((post) => <BlogPost {post} />)}
    </div>
</Layout>
