---
import PostCollection from "@/components/blog/PostCollection.astro";
import Layout from "@/Layout.astro";
import { getPosts } from "@/utils/server";

const posts = await getPosts();

export const prerender = true;
---

<Layout>
    <h1 class="my-2 title">Blog</h1>
    <PostCollection {posts} />
</Layout>
