---
import "@/styles/index.css";

import type { Song } from "@/api/song";
import CurrentSong from "@/components/index/CurrentSong.svelte";
import Donation from "@/components/index/Donation.astro";
import { DUMMY } from "@/consts";
import Layout from "@/Layout.astro";
import { fetchApi } from "@/utils";

const song = import.meta.env.PROD
    ? await fetchApi<Song>("song", Astro)
    : DUMMY.SONG;
---

<Layout>
    <h1 class="text-2xl">hi</h1>
    <ul class="*:mb-1">
        <li><CurrentSong {song} client:load /></li>
        <li><Donation /></li>
    </ul>
</Layout>
