---
import "@/styles/index.css";

import type { Song } from "@/api/song";
import Heading from "@/components/Heading.astro";
import Icon from "@/components/Icon.astro";
import Cat from "@/components/index/Cat.svelte";
import CurrentSong from "@/components/index/CurrentSong.svelte";
import Donation from "@/components/index/Donation.astro";
import RandomAccent from "@/components/RandomAccent.svelte";
import Layout from "@/Layout.astro";
import { fetchApi } from "@/utils";

const song = await fetchApi<Song>("song", Astro);
---

<Layout class="*:flex *:flex-col gap-4 *:gap-2">
    <div class="!flex-row items-center !gap-4">
        <RandomAccent client:only="svelte">
            <h1 class="cursor-pointer select-none title">
                {Astro.site!.host}
            </h1>
        </RandomAccent>
        <Cat client:only="svelte" />
    </div>

    <div>
        <Heading slug={false}>Welcome to my website</Heading>
        <p>
            Hey there! The name's newt, and I'm an avid software engineer,
            computer scientist, and system administrator. I'm currently working
            towards a BSc in Computing Science.
        </p>

        <p>
            I'm currently working on
            <span class="font-medium text-mauve">amethyst</span>, the next
            generation of game server hosting. We're a small team with big
            amibitions - if you feel you've got something to bring to the table,
            or just want to find out more, we want to hear from you. No resumes
            or CVs, just reach out to me on
            <span data-obfuscation="0">newt@playamethyst.com</span>
        </p>

        <p>
            I like to share my experiences and opinions on my blog. In the
            future, I will share further details about
            <span class="font-medium text-mauve">amethyst</span> and my experiences
            running a business. You can check it out
            <a href="/blog">here</a>.
        </p>

        <ul class="*:flex *:items-center *:gap-2 my-2 *:mb-1 select-none">
            <li>
                <Icon
                    name="mdi:spotify"
                    class="hidden md:block flex-none text-2xl"
                />
                <CurrentSong {song} client:load />
            </li>
            <li>
                <Icon
                    name="simple-icons:kofi"
                    class="hidden md:block flex-none text-2xl"
                />
                <Donation />
            </li>
        </ul>
    </div>
    <div>
        <Heading slug="contact">Get in touch</Heading>
        <p>
            I will respond quickest on <Icon
                name="ic:baseline-discord"
                class="inline-block"
            />, but you can reach me through any of the following:
        </p>
        <ul class="*:mb-1">
            <li>
                <Icon name="lucide:mail" />
                <span data-obfuscation="0">hi@newty.dev</span>
            </li>
            <li>
                <Icon name="ic:baseline-discord" />
                <span data-obfuscation="0">isitreallyalive</span>
            </li>
        </ul>
    </div>
</Layout>
