---
import * as cheerio from "cheerio";

import Underline from "@/components/Underline.astro";

interface Props {
    anchor?: boolean | string;
    class?: string;
    level?: number;
}

const { anchor = true, class: clazz = "", level = 1 } = Astro.props;

const content = cheerio
    .load((await Astro.slots.render("default")) || "")
    .text();
const anchorTag =
    typeof anchor === "string"
        ? anchor
        : anchor
          ? content
                .toLowerCase()
                .replaceAll(/[^a-z0-9- ]/g, "")
                .replaceAll(" ", "-")
          : null;

let classes = ["font-semibold", `h${level}`, ...clazz.split(" ")];
---

<div id={anchorTag} class:list={classes}>
    {
        anchorTag ? (
            <a href={`#${anchorTag}`} class="group relative">
                <span class="text-lavender select-none">
                    {"#".repeat(level)}
                </span>
                <Underline>
                    <slot />
                </Underline>
            </a>
        ) : (
            <div class="group relative cursor-default">
                <span class="text-lavender select-none">
                    {"#".repeat(level)}
                </span>
                <Underline>
                    <slot />
                </Underline>
            </div>
        )
    }
</div>
