---
import * as cheerio from "cheerio";
import GithubSlugger from "github-slugger";

import Underline from "@/components/Underline.astro";

interface Props {
    class?: string;
    level?: number;
    slug?: boolean | GithubSlugger | string;
}

const {
    class: clazz = "",
    level = 1,
    slug = new GithubSlugger(),
} = Astro.props;

const content = cheerio.load(await Astro.slots.render("default")).text();
const parsedSlug =
    typeof slug === "string"
        ? slug
        : slug instanceof GithubSlugger
          ? slug.slug(content)
          : null;

let classes = ["font-semibold", `h${level}`, ...clazz.split(" ")];
---

<div id={parsedSlug} class:list={classes}>
    {
        slug ? (
            <a href={`#${parsedSlug}`} class="group relative !text-text">
                <span class="text-lavender whitespace-nowrap select-none">
                    {"#".repeat(level)}
                </span>
                <Underline>
                    <slot />
                </Underline>
            </a>
        ) : (
            <div class="group relative cursor-default">
                <span class="text-lavender whitespace-nowrap select-none">
                    {"#".repeat(level)}
                </span>
                <Underline>
                    <slot />
                </Underline>
            </div>
        )
    }
</div>
