<span class="group inline-block relative" id="outer">
    <slot />
    <span
        class="bottom-0 left-0 absolute bg-lavender w-full h-0.5 scale-x-0 group-hover:scale-x-100 origin-left transition-transform duration-200"
        id="underline"></span>
</span>
