---
import "@/styles/global.css";

import type { CollectionEntry } from "astro:content";

import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";

interface Props {
    class?: string;
    post?: CollectionEntry<"blog">;
}

const clazz = Astro.props.class?.split(" ") ?? [];
---

<html lang="en" data-theme="catppuccin-latte">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{Astro.site!.host}</title>
    </head>
    <body class="flex flex-col bg-base min-h-screen text-text">
        <Navbar />
        <main
            class:list={[
                "flex",
                "flex-col",
                "flex-grow",
                "mx-auto",
                "mt-5",
                "w-3/5",
                ...clazz,
            ]}
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>

<script>
    import flavor from "@/stores/flavor";

    // set default flavor if not set
    if (!flavor.get()) {
        flavor.set(
            window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "mocha"
                : "latte",
        );
    }

    flavor.subscribe(async (flavor) => {
        document.documentElement.setAttribute(
            "data-theme",
            `catppuccin-${flavor}`,
        );
    });
</script>
