---
import "@/styles/global.css";

import Footer from "@/components/layout/Footer.astro";
import Head, { type Props as HeadProps } from "@/components/layout/Head.astro";
import Navbar from "@/components/layout/Navbar.astro";

interface Props extends HeadProps {
    class?: string;
}

const { class: clazz, ...headProps } = Astro.props;
const classList = clazz?.split(" ") ?? [];
---

<html lang="en" data-theme="catppuccin-latte">
    <Head {...headProps} />
    <body class="flex flex-col bg-base min-h-screen text-text">
        <Navbar />
        <main
            class:list={[
                "flex",
                "flex-col",
                "flex-grow",
                "mx-auto",
                "mt-5",
                "mb-8",
                "w-3/5",
                ...classList,
            ]}
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>

<script>
    import flavor from "@/stores/flavor";

    // set default flavor if not set
    if (!flavor.get()) {
        flavor.set(
            window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "mocha"
                : "latte",
        );
    }

    flavor.subscribe(async (flavor) => {
        document.documentElement.setAttribute(
            "data-theme",
            `catppuccin-${flavor}`,
        );
    });
</script>

<script>
    function enableSmoothScroll() {
        const root = document.querySelector(":root");
        if (!root) return stop();
        root.classList.toggle("not-motion-reduce:scroll-smooth");
    }

    // check if there is an anchor in the URL
    const hash = window.location.hash;

    if (hash) {
        // if there is, immediately scroll to the top of the page
        window.scrollTo(0, 0);

        // and then scroll to the anchor
        enableSmoothScroll();
        const target = document.querySelector(hash);
        setTimeout(() => target?.scrollIntoView(), 200);
    } else {
        enableSmoothScroll();
    }
</script>
