---
import "@/styles/global.css";

import type { CollectionEntry } from "astro:content";
import removeMarkdown from "remove-markdown";

import Footer from "@/components/layout/Footer.astro";
import Navbar from "@/components/layout/Navbar.astro";

interface Props {
    class?: string;
    post?: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const title = post ? removeMarkdown(post.data.title) : Astro.site!.host;
const clazz = Astro.props.class?.split(" ") ?? [];
---

<html lang="en" data-theme="catppuccin-latte">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>
            {title}
        </title>
    </head>
    <body class="flex flex-col bg-base min-h-screen text-text">
        <Navbar />
        <main
            class:list={[
                "flex",
                "flex-col",
                "flex-grow",
                "mx-auto",
                "mt-5",
                "mb-8",
                "w-3/5",
                ...clazz,
            ]}
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>

<script>
    import flavor from "@/stores/flavor";

    // set default flavor if not set
    if (!flavor.get()) {
        flavor.set(
            window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "mocha"
                : "latte",
        );
    }

    flavor.subscribe(async (flavor) => {
        document.documentElement.setAttribute(
            "data-theme",
            `catppuccin-${flavor}`,
        );
    });
</script>

<script>
    function enableSmoothScroll() {
        const root = document.querySelector(":root");
        if (!root) return stop();
        root.classList.toggle("not-motion-reduce:scroll-smooth");
    }

    // check if there is an anchor in the URL
    const hash = window.location.hash;

    if (hash) {
        // if there is, immediately scroll to the top of the page
        window.scrollTo(0, 0);

        // and then scroll to the anchor
        enableSmoothScroll();
        const target = document.querySelector(hash);
        setTimeout(() => target?.scrollIntoView(), 200);
    } else {
        enableSmoothScroll();
    }
</script>
